
*{
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

:root {
  --nav: wheat;
  --color:#282c34;

}

.navhome {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  font-size: 20px;

  max-width: 100%;
  
}

.nav-main {
  background-color: aqua;
  height: 100px;
}


 .gbutton {
   display: flex;
   justify-content: center; 
   
 }

 .dash-main {
   background-color: aquamarine;
   height: 100vh;
   
 }


 .form-group input {
 
   border: 2px solid #e0e0e0;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 30%;
  margin: 10px;
  
 }

 .form-container {
   padding-left: 30%;
 }


.links li {
  list-style-type: none;
  padding-left: 40px;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  font-size: 20px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.results {
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
}

.results2 {
  padding-left: 20%;
  padding-top: 50px;
}


.work {
  text-align: center;
  padding: 40px;
}

.dash-main h3 {
  text-align: center;
  padding-top: 20px;
 
}

.dash-main h4 {
  text-align: center;
  padding-top: 10px;

}

.links li {
  list-style-type: none;
  padding-left: 40px;
}

.gbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  height: 100vh;
  
}

.navmain {
  background-color: #282c34;
}

.home{
 background-color: aquamarine;
}


/* .navhome Link{
  list-style-type: none;
  padding-left: 40px;
  font-size: 20px;
} */



























/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
