
*{
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

:root {
  --nav: wheat;
  --color:#282c34;

}

.navhome {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  font-size: 20px;
  /* background-color: aqua; */
  /* background-color: var(--nav); */
  max-width: 100%;
  
}

/* .nav{
  background-color: var(--nav);
  height: auto;
  max-width: 100%;
  height: 60px;
}
 */

 .gbutton {
   display: flex;
   justify-content: center; 
   
 }


.links li {
  list-style-type: none;
  padding-left: 40px;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  font-size: 20px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-self: center; */
  height: 100vh;
  /* align-self: center; */
}

/* .nav{
  background-color: var(--nav);
} */


/* .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  font-size: 20px;
  
} */

.links li {
  list-style-type: none;
  padding-left: 40px;
}
/* .navhome Link{
  list-style-type: none;
  padding-left: 40px;
  font-size: 20px;
} */



























/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
